/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/core/theming/prebuilt/indigo-pink.css';
body {
    margin: 0;
}
body{
  /*font-family: 'Text Me One', sans-serif;*/
  font-family: 'Mitr', sans-serif;
  font-size: 12px;
}
.ca_j19 table td img{
  display: block;
  margin: 0 auto;
}

.ci-img-header {
  width: 70px;
}
